<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Tillwhen{% endblock %}</title>
    <link rel="stylesheet" href="/public/tailwind.css" />
    <link rel="stylesheet" href="/public/unpoly.min.css" />
    <script src="/public/unpoly.min.js"></script>
    <style>
      up-progress-bar {
        background-color: black;
      }
    </style>
  </head>
  <body>
    <main>
      {% block content %}
      <!-- Main content goes here -->
      {% endblock %}
    </main>
  </body>
</html>
