{% extends "_includes/base.njk" %} {% block content %} {% if errorMessages.length %} {%for msg in
errorMessages%}
<div class="px-20 ml-auto max-w-sm py-4 flex flex-col gap-10">
  <div role="alert" class="alert alert-error">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <span>{{msg}}</span>
  </div>
</div>
{%endfor%} {%endif %}

<div class="flex gap-2">
  <div>{% include "_includes/sidebar.njk" %}</div>
  <div class="p-10">
    <h2 class="text-xl font-semibold">Account Settings</h2>

    <div class="mt-10">
      <h3>Update Email</h3>
      <form action="/account/email" method="post" class="py-6">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="flex flex-col gap-6">
          <div class="grid gap-2">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="input input-bordered w-full max-w-xs"
              value="{{email}}"
            />
          </div>
          <div class="">
            <button type="submit" class="btn btn-primary">Update Email</button>
          </div>
        </div>
      </form>
    </div>

    <div class="mt-10">
      <form action="/account/password" method="post">
        <div class="flex flex-col gap-6">
          <div class="grid gap-2">
            <label for="currentPassword">Current Password</label>
            <input
              type="password"
              id="currentPassword"
              name="currentPassword"
              class="input input-bordered"
              required
            />
          </div>

          <div class="grid gap-2">
            <label for="newPassword">New Password</label>
            <input
              type="password"
              id="newPassword"
              name="newPassword"
              class="input input-bordered"
              required
            />
          </div>

          <div class="grid gap-2">
            <label for="confirmPassword">Confirm New Password</label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              class="input input-bordered"
              required
            />
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Change Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
