{% extends "_includes/base.njk" %} {% block content %}
<div class="flex gap-2">
  <div>{% include "_includes/sidebar.njk" %}</div>
  <div class="p-10">
    <form>
      <div>
        <label>
          <input type="text" id="log-title" class="input" placeholder="Log title" />
        </label>
      </div>
      <div>
        <label> <input type="date" id="log-date" class="input" /></label>
      </div>
      <div class="button-group">
        <button id="playButton" class="btn">Save Log</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
